body{
	background-color: #368ee0;
}

@font-face{
	font-family: myOpenSans;
	src: url("../res/fonts/OpenSans-Light.ttf");
}

.principal{	
	width: 400px;
	height: 500px;
	left: 50%;
    top: 50%;
    margin: -200px -200px;
  	position: absolute;
  	font-family: 'Open Sans', 'myOpenSans',sans-serif;
  	font-size: 13px;
}

.cuerpo-login{
	margin-top: 20px;
	background: #fff;
}

.form-login .form-login-heading,{
  	bottom: 10px;
}

.principal h1{
	color: #fff;
	display: block;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
	padding: 2px 0;
	text-decoration: none;
}
.principal h1 img{
	margin-right: 20px;
  	margin-top: -8px;
}

.principal .cuerpo-login h2{
	font-weight: 300;
	color: #333;
	font-size: 24px;
	padding: 30px 30px 15px 30px;
}

.principal .cuerpo-login .form-login{
	padding: 0 30px;
}

.principal .cuerpo-login .form-login .form-group{
  	margin-bottom: 15px;
  	border-radius: 0px !important;
}

.principal .cuerpo-login .form-login .enviar{
	margin-top: 15px	;
}

.principal .cuerpo-login .form-login .checkbox{
	
	margin-top: 24px;
	margin-left: 1px;
	font-size: 14px;
}


.final {
	margin-top: 100px;
}

.principal .cuerpo-login .final a{
	background: #eee;
	padding: 10px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #555;	
}

.principal .cuerpo-login .final a:hover{
	background: #e1e1e1;	
}

.principal .cuerpo-login .final a span{
	line-height: 30px;
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;

}

.principal .cuerpo-login .form-login .registrarse{
	height: 86px; 
	margin-top:0px; 
	text-align: center; 
	padding: 0px 50px 0px 50px;
}



.principal .cuerpo-login .form-login .registrarse button{	
	margin-top: 20px;
	width: 100px
}

.principal .cuerpo-login .form-login .registrarse input{
	margin-top: 20px;
	width: 100px;
}
